/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

after\.sh

aliases

composer\.json

composer\.lock

eval "\$\(ssh-agent -s\)"

eval "\$\(ssh-agent -s\)"\.pub

Vagrantfile
